@use "sass:map";

// Breakpoints
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// 미디어 쿼리 중단점 (Breakpoints) --------------------------------------------------------------- /
$break: map.get($breakpoints, md); // md breakpoint 선택

@mixin mobile {
  @media (max-width: #{map.get($breakpoints, md)}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{map.get($breakpoints, md) + 1}) and (max-width: #{map.get($breakpoints, xl)}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{map.get($breakpoints, xl) + 1}) {
    @content;
  }
}

@mixin media($media) {
  @if $media == "tablet" {
    @media (min-width: #{map.get($breakpoints, md) + 1}) and (max-width: #{map.get($breakpoints, xl)}) {
      @content;
    }
  }
  @if $media == "mobile" {
    @media (max-width: #{map.get($breakpoints, md)}) {
      @content;
    }
  }
  @if $media == "desktop" {
    @media (min-width: #{map.get($breakpoints, lg) + 1}) {
      @content;
    }
  }
  @if $media != "mobile" and $media != "desktop" and $media != "tablet" {
    @error '미디어 유형이 유효하지 않습니다.';
  }
}
