@use "./../utils" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.minjee {
  background: black;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.a11yHidden {
  @include a11yHidden();
}

.title {
  margin-bottom: 1%;

  @include desktop {
    @include titleFont(1.3vw, 700, 140%);
  }

  @include tablet {
    @include titleFont(1vw, 700, 140%);
  }
  
  @include mobile {
    @include titleFont(0.4vw, 600, 150%);
  }
}

.list {
  @include flexbox;
  gap: 1%;
  margin-bottom: 2%;
  width: 105vw;
}

.only {
  padding-left: 5%;
}

.event {
  padding-left: 5%;
}

.sports {
  // background: green;
  @include paddingX(5%);
  @include paddingY(2%);
}
