@use "sass:math";
@use "./../utils" as *;
@use "./../base" as *;

body {
  background: $black;
  overflow: hidden;
}

.popular, .livechannel {
  width: 105vw;
  padding-left: 3%;
  padding-bottom: 3%;
  overflow: hidden;

  h2 {
    color: $white;
    font-size: 1.3vw;
    font-weight: 700;
    margin-bottom: rem(16px);
  }

  &__list {
    list-style: none;
    @include flexbox;
    gap: 1%;
    font-size: rem(16px);
    color: $gray1;
    counter-reset: rank;
  }

  &__item {
    width: rem(240px);
    overflow: hidden;
    counter-increment: rank;
    position: relative;

    &Title {
      width: 95%;
      display: inline-block;
      overflow: hidden;
      position: relative;
      display: inline-block;
      padding: 4% 0;
      padding-left: 25%;
      font-size: 1.2vw;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__item::before {
    content: counter(rank);
    color: $white;
    font-size: 4vw;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    bottom: -2%;
    left: 0;
  }

  &__itemContainer {
    @include flexbox($direction:column);
    padding-top: 2%;
    padding-left: 21%;
    gap: rem(3px);
  }

  @include tablet {
    width: 150vw;

    h2 {
      font-size: 3vw;
      margin-bottom: rem(10px);
    }

    &__item::before {
      font-size: 5.5vw;
      bottom: 2%;
    }

    &__itemTitle {
      font-size: 1.7vw;
    }
  }

  @include mobile {
    width: 250vw;

    h2 {
      font-size: 3.4vw;
      margin-bottom: 10px;
    }

    &__item::before {
      font-size: 8vw;
      bottom: 2%;
    }

    &__itemTitle {
      font-size: 2.5vw;
    }
  }
}

.redCircle::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: $red;
  top: 2%;
  right: 0%;
  border-radius: 50%;

  @include tablet {
    width: 5px;
    height: 5px;
  }

  @include mobile {
    width: 3px;
    height: 3px;
  }
}

.livechannel {

  &__itemTitle {
    padding: 0;
    color: $white;
  }

  &__itemContent {
    color: $gray2;
    font-size: 1.1vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__itemRating {
    color: $gray3;
    font-size: 1vw;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item::before {
    top: 63%;
    left: 0;
  }

  @include mobile {

    &__item::before {
      top: 60%;
    }

    &__itemContent {
      font-size: 2vw;
    }

    &__itemRating {
      font-size: 1vw;
    }
  }

  @include tablet {

    &__item::before {
      top: 50%;
    }
  }
}