<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>main part 3</title>
  <link rel="stylesheet" href="./../style/index.css" />
</head>
<body>
  <section class="minjee">

    <div class="only">
      <h2 class="only__title title">오직 티빙에만 있어요</h2>

      <ul class="only__list list">
        <li class="only__item">

          <a href="/">
            <img src="./../assets/only1.png" alt="전체 관람가 숏버스터" />
          </a>
        </li>
        <li class="only__item">
          <a href="/">
            <img src="./../assets/only2.png" alt="러브캐처" />
          </a>
        </li>
        <li class="only__item">
          <a href="/">
            <img src="./../assets/only3.png" alt="환승연애2" />
          </a>
        </li>
        <li class="only__item">
          <a href="/">
            <img src="./../assets/only4.png" alt="몸값" />
          </a>
        </li>
        <li class="only__item">
          <a href="/">
            <img src="./../assets/only5.png" alt="술꾼도시여자들" />
          </a>
        </li>
        <li class="only__item">
          <a href="/">
            <img src="./../assets/only6.png" alt="괴이" />
          </a>
        </li>
        <li class="only__item">
          <a href="/">
            <img src="./../assets/only7.png" alt="푸드 크로니클" />
          </a>
        </li>
      </ul>

    </div>

    
    <div class="sports">
      <a href="/">
        <img src="./../assets/main_banner2.png" alt="티빙 스포츠 경기 생중계" class="sports__img"/>
      </a>
    </div>
    
    
    <div class="event">
      <h2 class="event__title title">이벤트</h2>

      <ul class="event__list list">
        <li class="event__item">
          <a href="/">
            <img src="./../assets/event1.png" alt="신비아파트 극장 개봉 기념 예매권 증정 이벤트" />
          </a>
        </li>

        <li class="event__item">
          <a href="">
            <img src="./../assets/event2.png" alt="재벌집 막내아들 1일 체험 이벤트" />
          </a>
        </li>

        <li class="event__item">
          <a href="">
            <img src="./../assets/event3.png" alt="환승연애2 각자의 본능대로 러브캐처 과몰입 도파민 충전 이벤트" />
          </a>
        </li>

        <li class="event__item">
          <a href="">
            <img src="./../assets/event4.png" alt="슈룹 공식 우산 굿즈 증정 이벤트" />
          </a>
        </li>

        <li class="event__item">
          <a href="">
            <img src="./../assets/event5.png" alt="대한민국 대표 디저트 메이커를 찾습니다!" />
          </a>
        </li>

        <li class="event__item">
          <a href="">
            <img src="./../assets/event6.png" alt="렛미인 지금 감상하고, 원작 도서 세트 받자!" />
          </a>
        </li>

      </ul>
    </div>

  </section>

</body>
</html>