<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./../style/profile.css" />
  <title>프로필 페이지</title>
</head>
<body>
  <section class="profile">
    <h2 class="profile__title">프로필 선택</h2>
    <span class="profile__select" aria-label="시청할 프로필을 선택해주세요">시청할 프로필을 선택해주세요.</span>
    <ul class="profile__container">
      <li class="profile__item">
        <a href="/">
          <img src="./../assets/profile-1.png" alt="" />
          <span class="profile__itemName" aria-label="프로필명">슬비님</span>
        </a>
      </li>
      <li class="profile__item">
        <a href="/">
          <img src="./../assets/profile-2.png" alt="" />
          <span class="profile__itemName" aria-label="프로필명">야무</span>
        </a>
      </li>
      <li class="profile__item">
        <a href="/">
          <img src="./../assets/profile-3.png" alt="" />
          <span class="profile__itemName" aria-label="프로필명">범쌤</span>
        </a>
      </li>
      <li class="profile__item">
        <a href="/">
          <img src="./../assets/profile-4.png" alt="" />
          <span class="profile__itemName" aria-label="프로필명">이듬</span>
        </a>
      </li>
    </ul>

    <button class="profile__edit">프로필 편집</button>
  </section>
</body>
</html>