<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./../style/index.css" />
  <title>메인배너, 1~2줄</title>
</head>
<body>
  <main class="app-main">
    <section class="main__banner">
      <figure class="main__figure">
        <a href="/">
          <img src="/assets/main_banner.png" alt="메인 배너 콘텐츠 이미지" />
         </a>
      </figure>
      <div class="left__icon">
        <a href="/">
          <img src="/assets/icons/desktop=left.png" alt="캐러셀 중 왼쪽으로 넘어가는 버튼" />
        </a>
      </div>
      <div class="right__icon">
        <a href="/">
          <img src="/assets/icons/Device=Desktop, Right.png" alt="캐러셀 중 오른쪽으로 넘어가는 버튼" />
        </a>
      </div>
      <div class="starticon__group">
        <div class="i__icon">
          <a href="/">
            <img src="/assets/icons/pagination.png" class="i__iconImage" alt=""캐러셀 재생버튼"" />
          </a>
        </div>
        <span class="dot1__icon dot" aria-label="캐러셀의 첫번째 배너이미지로 이동하는 버튼">
          <a href="/">
          </a>
        </span>
        <span class="whitedot__icon dot" aria-label="캐러셀의 두번째 배너이미지로 이동하는 버튼">
          <a href="/">
          </a>
        </span>
        <span class="dot2__icon dot" aria-label="캐러셀의 세번째 배너이미지로 이동하는 버튼">
          <a href="/">
          </a>
        </span>
        <span class="dot3__icon dot" aria-label="캐러셀의 네번째 배너이미지로 이동하는 버튼">
          <a href="/">
          </a>
        </span>
      </div>
      <div class="viewdatail">
        <a href="/">
          자세히 보기
        </a>
      </div>
      <div class="second__life">인생 2회차를 사는 판타지 드라마</div>

    </section>

   <section class="banner1__content">
    <h2 class="banner1__title">티빙에서 꼭 봐야하는 콘텐츠</h2>
    <ul class="banner1__list">
      <li class="banner1__item">
        <figure>
          <a href="/" class="banner__link">
            <img src="/assets/01.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 보물찾기" class="banner__image"/>
          </a>
          <figcaption class="banner__coption">보물찾기</figcaption>
        </figure>
      </li>
      <li class="banner1__item">
        <figure>
        <a href="/" class="banner__link">
          <img src="/assets/02.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 러브캐처 인 발리" class="banner__image"/>
        </a>
        <figcaption class="banner__coption">러브캐처 인 발리</figcaption>
        </figure>
      </li>
      <li class="banner1__item">
        <figure>
          <a href="/" class="banner__link">
            <img src="/assets/03.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 술꾼도시여자들2" class="banner__image"/>
          </a>
          <figcaption class="banner__coption">술꾼도시여자들2</figcaption>
      </figure>
      </li>
      <li class="banner1__item">
        <figure>
          <a href="/" class="banner__link">
            <img src="/assets/04.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 털사 킹" class="banner__image"/>
          </a>
          <figcaption class="banner__coption">털사 킹</figcaption>
        </figure>
      </li>
      <li class="banner1__item">
        <figure>
          <a href="/" class="banner__link">
            <img src="/assets/05.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 아무것도 하고싶지 않아" class="banner__image"/>
          </a>
          <figcaption class="banner__coption">아무것도 하고 싶지 않아</figcaption>
        </figure>
      </li>
      <li class="banner1__item">
        <figure>
          <a href="/" class="banner__link">
            <img src="/assets/06.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 블랙독" class="banner__image"/>
          </a>
          <figcaption class="banner__coption">블랙독</figcaption>
        </figure>
      </li>
      <li class="banner1__item">
        <figure>
          <a href="/" class="banner__link">
            <img src="/assets/07.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 우리들의 블루스" class="banner__image"/>
          </a>
          <figcaption class="banner__coption">우리들의 블루스</figcaption>
        </figure>
      </li>
      <li class="banner1__item">
        <figure>
          <a href="/" class="banner__link">
            <img src="/assets/08.png" alt="티빙에서 꼭 봐야하는 콘텐츠 중 우리들의 킬리만자로" class="banner__image"/>
          </a>
          <figcaption class="banner__coption">우리들의 킬리만자로</figcaption>
        </figure>
      </li>
    </ul>
  </section>
  
  
  <section class="banner2__vod">
    <h2 class="banner2__title">Quick VOD</h2>
    <ul class="banner2__list">
      <li class="banner2__item">
        <figure>
          <a href="/">
            <img src="/assets/09.png" alt="Quick VOD JTBC 뉴스룸" class="banner__image"/>
          </a>
          <figcaption class="banner2__coption">JTBC 뉴스룸</figcaption>
        </figure>
        <span class="caption__2">0화</span>
        <div class="quickVOD__box"><img src="/assets/icons/Horizontal_1.png" alt="quick VOD" class="quickVOD__image"/></div>
      </li>
      <li class="banner2__item">
        <figure>
          <a href="/">
            <img src="/assets/10.png" alt="Quick VOD 휴먼 다큐 나는살기로했다" class="banner__image"/>
          </a>
          <figcaption class="banner2__coption">휴먼 다큐 &lt;나는살기로했다&gt;</figcaption>
        </figure>
        <span class="caption__2">10화</span>
        <div class="quickVOD__box"><img src="/assets/icons/Horizontal_1.png" alt="quick VOD" class="quickVOD__image"/></div>
      </li>
      <li class="banner2__item">
        <figure>
          <a href="/">
            <img src="/assets/11.png" alt="Quick VOD 건강면세점" class="banner__image"/>
          </a>
          <figcaption class="banner2__coption">건강면세점</figcaption>
        </figure>
        <span class="caption__2">130화</span>
        <div class="quickVOD__box"><img src="/assets/icons/Horizontal_1.png" alt="quick VOD" class="quickVOD__image"/></div>
      </li>
      <li class="banner2__item">
        <figure>
          <a href="/">
            <img src="/assets/12.png" alt="Quick VOD 차이나는 클라스" class="banner__image"/>
          </a>
          <figcaption class="banner2__coption">차이나는 클라스</figcaption>
        </figure>
        <span class="caption__2">254화</span>
        <div class="quickVOD__box"><img src="/assets/icons/Horizontal_1.png" alt="quick VOD" class="quickVOD__image"/></div>
      </li>
      <li class="banner2__item">
        <figure>
          <a href="/">
            <img src="/assets/13.png" alt="Quick VOD 알맹이" class="banner__image"/>
          </a>
          <figcaption class="banner2__coption">알맹이</figcaption>
        </figure>
        <span class="caption__2">208화</span>
        <div class="quickVOD__box"><img src="/assets/icons/Horizontal_1.png" alt="quick VOD" class="quickVOD__image"/></div>
      </li>
      <li class="banner2__item">
        <figure>
          <a href="/">
            <img src="/assets/14.jpg" alt="Quick VOD 엄마의 봄날" class="banner__image"/>
          </a>
          <figcaption class="banner2__coption">엄마의 봄날</figcaption>
        </figure>
        <span class="caption__2">380화</span>
        <div class="quickVOD__box"><img src="/assets/icons/Horizontal_1.png" alt="quick VOD" class="quickVOD__image"/></div>
      </li>
    </ul>
  </section>
</main>
</body>
</html>

