<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./../style/index.css" />
  <title>third section</title>
</head>
<body>
  <section class="popular">
    <h2 class="popular__title">실시간 인기 프로그램</h2>
    <ol class="popular__list">
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/15.png" alt="재벌집 막내아들 포스터" />
            <figcaption class="popular__itemTitle">재벌집 막내아들</figcaption>
          </figure>
        </a>
      </li>
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/16.png" alt="술꾼도시여자들2 포스터" />
            <figcaption class="popular__itemTitle">술꾼도시여자들2</figcaption>
          </figure>
        </a>
      </li>
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/17.png" alt="환혼: 빛과 그림자 포스터" />
            <figcaption class="popular__itemTitle">환혼: 빛과 그림자</figcaption>
          </figure>
        </a>
      </li>
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/18.png" alt="캐나다 체크인 포스터" />
            <figcaption class="popular__itemTitle">캐나다 체크인</figcaption>
          </figure>
        </a>
      </li>
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/19.png" alt="놀라운 토요일 포스터" />
            <figcaption class="popular__itemTitle">놀라운 토요일</figcaption>
          </figure>
        </a>
      </li>
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/20.png" alt="쇼미더머니 시즌11 포스터" />
            <figcaption class="popular__itemTitle">SHOW ME THE MONEY11</figcaption>
          </figure>
        </a>
      </li>
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/02.png" alt="러브캐처 인 발리 포스터" />
            <figcaption class="popular__itemTitle">러브캐처 인 발리</figcaption>
          </figure>
        </a>
      </li>
      <li class="popular__item">
        <a href="/">
          <figure class="popular__itemImage">
            <img src="./../assets/21.jpg" alt="알쓸인잡 포스터" />
            <figcaption class="popular__itemTitle">알쓸인잡</figcaption>
          </figure>
        </a>
      </li>
    </ol>
  </section>
  <section class="livechannel">
    <h2 class="livechannel__title">인기 LIVE 채널</h2>
    <ol class="livechannel__list">
      <li class="livechannel__item">
        <a href="/">
          <figure class="livechannel__itemImage">
            <img src="./../assets/22.png" alt="JTBC 뉴스" />
          </figure>
          <ul class="livechannel__itemContainer">
            <li class="livechannel__itemTitle" aria-label="채널명">JTBC</li>
            <li class="livechannel__itemContent" aria-label="컨텐츠 내용">JTBC 뉴스룸</li>
            <li class="livechannel__itemRating" aria-label="시청률">27.9%</li>
          </ul>
        </a>
      </li>
      <li class="livechannel__item">
        <a href="/">
          <figure class="livechannel__itemImage">
            <img src="./../assets/23.png" alt="줄서는 식당" />
          </figure>
          <ul class="livechannel__itemContainer">
            <li class="livechannel__itemTitle" aria-label="채널명">tvN</li>
            <li class="livechannel__itemContent" aria-label="컨텐츠 내용">줄 서는 식당 43회</li>
            <li class="livechannel__itemRating" aria-label="시청률">26.3%</li>
          </ul>
        </a>
      </li>
      <li class="livechannel__item">
        <a href="/">
          <figure class="livechannel__itemImage">
            <img src="./../assets/24.png" alt="YTN 뉴스" />
          </figure>
          <ul class="livechannel__itemContainer">
            <li class="livechannel__itemTitle" aria-label="채널명">YTN</li>
            <li class="livechannel__itemContent" aria-label="컨텐츠 내용">뉴스가 있는 저녁</li>
            <li class="livechannel__itemRating" aria-label="시청률">9%</li>
          </ul>
        </a>
      </li>
      <li class="livechannel__item">
        <a href="/">
          <figure class="livechannel__itemImage">
            <img src="./../assets/25.png" alt="재벌집 막내아들 드라마 중" />
          </figure>
          <ul class="livechannel__itemContainer">
            <li class="livechannel__itemTitle" aria-label="채널명">JTBC2</li>
            <li class="livechannel__itemContent" aria-label="컨텐츠 내용">재벌집 막내아들 5화</li>
            <li class="livechannel__itemRating" aria-label="시청률">6.2%</li>
          </ul>
        </a>
      </li>
      <li class="livechannel__item">
        <a href="/">
          <figure class="livechannel__itemImage">
            <img src="./../assets/26.png" alt="연합뉴스 이슈오늘" />
          </figure>
          <ul class="livechannel__itemContainer">
            <li class="livechannel__itemTitle" aria-label="채널명">연합뉴스 TV</li>
            <li class="livechannel__itemContent" aria-label="컨텐츠 내용">뉴스프라임</li>
            <li class="livechannel__itemRating" aria-label="시청률">4.6%</li>
          </ul>
        </a>
      </li>
      <li class="livechannel__item">
        <a href="/">
          <figure class="livechannel__itemImage">
            <img src="./../assets/27.jpg" alt="코난" />
          </figure>
          <ul class="livechannel__itemContainer">
            <li class="livechannel__itemTitle" aria-label="채널명">애니맥스</li>
            <li class="livechannel__itemContent" aria-label="컨텐츠 내용">명탐정코난9(자막) 33화</li>
            <li class="livechannel__itemRating" aria-label="시청률">4.3%</li>
          </ul>
        </a>
      </li>
    </ol>
  </section>
</body>
</html>